<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>猫咪有约小程序幻灯管理界面</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/body.css"/>
</head>
<body>
<div class="container">
    <section id="content">
        <form action="{:U('Home/Banner/onlog/')}" method = 'post' >
            <h1>管理登录</h1>
            <div>
                <input type="text" placeholder="帐号" required="" name="username"/>
            </div>
            <div>
                <input type="password" placeholder="密码" required="" name="password"/>
            </div>
            <div class="">
                <span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span></div>
            <div>
                <!-- <input type="submit" value="Log in" /> -->
                <input type="submit" value="登录" class="btn btn-primary" id="js-btn-login"/>
                <a href="#">忘记密码你干什么吃的?</a>
            </div>
        </form><!-- form -->
            <p style="font-size:14px;color: #7E7E7E">{$ts}</p>
    </section><!-- content -->
</div>

</body>
</html>